html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: block;
    font-family: 'Krona One';
    font-weight: 100;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
}

.wrapper{
    display:flex;
    justify-content: space-between;
    height:100%;
    position:relative;
}

#main-bit{
    width: 75%;
}

#side-bit{
    width: 25%;
    position:fixed;
    right: 0;
    top:0;
    background-color: white;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.top-bit{
    position:absolute;
    top:0;
    right:0;
    width:100%;
}

.upper-bit{
    flex-grow: 1;
    overflow-y: scroll;
    width:100%;
    margin-top:36px;
}

.lower-bit{
    width:100%;
}

#side-bit button[type=submit]{
    width:100%;
    background-color:#4CAF50;
    border:none;
    color:#ffffff;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    transition-duration:0.5s;
    cursor:pointer;
}

#side-bit button[type=submit]:hover{
    background-color:#2a612c;
}

.top-bit h2{
    text-transform: uppercase;
    background-color: rgb(152 152 152);
    color:white;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}

input[type=text]{
    padding:5px;
}


h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-top:50px;
    margin-bottom: 20px;
    font-weight:bold;
}

table {
    box-shadow: 0px 0px 5px rgb(109, 109, 109);
    width: 85%;
    max-width: 850px;
    margin:auto;
    table-layout: fixed;
    
}


th, td{
    padding: 3px;
    margin: 0 4px;
}

th {
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    padding: 10px 0px;
    font-size: 23px;
    
}


tr {
    background-color: rgb(212, 212, 212);
    user-select: none;
    display:flex;
    padding: 4px 20px;
}

thead tr{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #818181;
    z-index: 20;
}

thead tr:hover{
    background-color: #818181;
}


tr:hover {
    background-color: #e2e2e2;
}


td:nth-child(1){
    flex: 2;
}

td:nth-child(2){
    flex: 5;
}

td:nth-child(3){
    flex: 2;
}

td:nth-child(4){
    flex: 1;
}

th:nth-child(1){
    flex: 2;
}

th:nth-child(2){
    flex: 5;
}

th:nth-child(3){
    flex: 2;
}

th:nth-child(4){
    flex: 1;
}

.add-button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 26px;
    transition-duration:0.5s;
}

.add-button:hover {
    background-color: rgb(110, 110, 110);
    transform: scale(1.1);
    color: white;
    cursor:pointer;
}


.cartItem {
    width:100%;
    font-size: small;
    background-color: rgb(204, 204, 204)
}


.cartItemName {
    flex-grow: 1;
    position: relative;
}

.cartItemName p{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0px;
    margin: auto;
    transform: translate(0%,-50%);
    margin-left: 5px;
}

.edit-amount{
    
    z-index: 10;
    word-spacing: -1;
}

.cartItemAdd, .cartItemRemove {
    width: 20px;
    height: 20px;
    background-color:rgb(230, 230, 230);
    margin: -4px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
} 

.cartItemAdd:hover, .cartItemRemove:hover {
    background-color: rgb(226, 226, 226);
}

.cartItemNumber {
    width:30px;
    height:20px;
    background-color:white;
    text-align: center;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0px;
    padding: 0px;
}

.cartItemPriceArea {
    position: relative;
    width: 80px;
}

.cartItem button {
    cursor:pointer;
    border: none;
    background-color: #fff0;
    font-size: 16px;
    margin: 0px 2px;
    color:rgb(92, 92, 92)
}

.cartItemPrice {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0px;
    margin: auto;
    transform: translate(0%,-50%);
    margin-right: 7px;
}


#totalArea{
    font-size: 16px;
    display:flex;
    padding: 8px 16px;
    background-color: rgb(216, 216, 216);
}

#totalArea #totalLabel{
    display: block;
}

#totalArea #total{
    flex-grow: 1;
    text-align: right;
}